.training-input-form {
    background-color: #2a2a2a;
    color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .training-input-form div {
    margin-bottom: 15px;
  }
  
  .training-input-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #eee;
  }
  
  .training-input-form input[type="text"],
  .training-input-form input[type="number"] {
    width: calc(100% - 22px); /* padding分を引く */
    padding: 10px;
    background-color: #1c1c1c;
    color: #fff;
    border: 1px solid #b1afaf;
    border-radius: 4px;
    font-size: 1em;
  }
  
  .training-input-form button {
    background-color: #e53935; 
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    transition: background-color 0.2s;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .training-input-form button:hover {
    background-color: #c62828;
    transform: scale(1.02);
  }